
:root {

  --font-hierarchy: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --backGroundColour: #ffffff; /* exclusive to backgrounds */
  --borderColour: #000000; /* exclusive to borders */

  --lightTextColour: #f8f1e4; /* for use on dark backgrounds */
  --darkTextColour: #1f0000; /* for use on light backgrounds */

  --lightestColour: #f9f7f3;
  --midLightColour: #d1cf4b;
  --midColour: #c1121f;
  --midDarkColour: #218ae6;
  --darkestColour: #003049;

  --greenGood: rgb(166, 221, 166);
  --amberOK: rgb(180, 204, 104);
  --redBad: rgb(211, 122, 122);


  /* Main body max of 80% vw and 1500px, centred */
  --maxContentWidth: 1500px;
  --bodyWidth: min(var(--maxContentWidth),90vw);
  --bodyMargin: max(calc(0.5*(100vw - var(--maxContentWidth))),5vw);

  --tab-height: 50px;

}

@font-face {
  font-family: 'Dancing';
  src: url('./dancing.ttf');
  font-weight: 600;
  font-style: normal;
}

h2, p {
  margin: 0;
}

optgroup {
  font-size:24px;
}

body {
  font-family: var(--font-hierarchy);
  font-size: 18px;

  width: var(--bodyWidth);

  margin: 5vh var(--bodyMargin);
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px max(700px, calc(90vh - 100px)); /* top and bottom 5vh, but main panel minimum 700px */
}

#navbar {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: var(--midDarkColour);
  color: var(--lightTextColour);
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: 800;
}

#sidebar {
  grid-row: 2;
  grid-column: 1;
  background-color: var(--lightestColour);
  padding: 50px 30px;
  display: grid;
  row-gap: 40px;
  align-content: start; /* contents go in top of container */ 
  justify-content: stretch; /* stretch horizontally across whole container */
}

.sidebarItem {
  display: grid;
  grid-template-columns: 1fr auto; /* icon to right, name takes remainder of room */
  align-items: center; /* children centred vertically */
}

.sidebarName {
  align-items: start;
  font-size: 24px;
  font-weight: 800;
}

.sidebarIcon, .indiv-task-icon-img {
  width: 30px;
}

#main-container {
  grid-row: 2;
  grid-column: 2;
  background-color: var(--backGroundColour);
  padding: 30px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-content: start;
}

#project-selector-container {
  display: grid;
  grid-template-columns: repeat (2, auto);
  justify-content: start;
  column-gap: 20px;
  font-size: 20px;
}

#project-selector-text {
  grid-column: 1;
  
}

#project-selector-select {
  grid-column: 2;
}


#project-display {
  background-color: var(--backGroundColour);
  padding: 30px 0;
}

#project-title {
  margin-bottom: 10px;
}

#project-description {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 30px;
  padding: 0 20px;
}

#task-container {
  display: grid;
  row-gap: 20px;
}

.indiv-task {
  /* background-color: var(--midDarkColour);
  color: var(--lightTextColour); */
  padding: 10px 20px;
  display: grid;
  row-gap: 2px;
  border-left: 10px solid orange;
  /* border: 2px solid black; */
  border-radius: 10px;
}

.indiv-task-icon-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 25px;
  justify-content: end;
}

.indiv-task-name {
  font-weight: 800;
}



