
:root {

  --font-hierarchy: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --backGroundColour: #ffffff; /* exclusive to backgrounds */
  --borderColour: #000000; /* exclusive to borders */

  --lightTextColour: #f8f1e4; /* for use on dark backgrounds */
  

  /* --lightColour: rgb(235, 235, 255); */
  --lightestColour: rgb(240,240,255);
  --incompleteTask: rgb(210, 182, 214);
  --completeTask: rgb(233, 220, 235);
  --midDarkColour: rgb(90, 147, 197);
  --darkestColour: #003049;

  --lowPrio: rgb(17, 227, 17);
  --midPrio: rgb(236, 192, 15);
  --highPrio: rgb(219, 14, 14);


  /* Main body max of 80% vw and 1500px, centred */
  --maxContentWidth: 1500px;
  --bodyWidth: min(var(--maxContentWidth),90vw);
  --bodyMargin: max(calc(0.5*(100vw - var(--maxContentWidth))),5vw);

  --tab-height: 50px;

}

@font-face {
  font-family: 'Dancing';
  src: url('./dancing.ttf');
  font-weight: 600;
  font-style: normal;
}

h2, p {
  margin: 0;
}

optgroup {
  font-size:24px;
}

body {
  font-family: var(--font-hierarchy);
  font-size: 18px;
}

#main-container {
  width: var(--bodyWidth);

  margin: 5vh var(--bodyMargin);
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px auto max(1fr, calc(90vh - 100px));
  /* grid-template-rows: 100px max(700px, calc(90vh - 100px)); top and bottom 5vh, but main panel minimum 700px */
  column-gap: 30px;
  row-gap: 50px;
}


#navbar {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: var(--midDarkColour);
  box-shadow: 0px 6px 20px rgb(33, 102, 163);

  color: var(--lightTextColour);

  /* background-color: rgb(90, 147, 197); */
  box-shadow: 0px 6px 20px rgb(33, 102, 163);

  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: 800;
}

#sidebar {
  grid-row: 2;
  grid-column: 1;
  /* background-color: var(--lightestColour); */
  background-color: var(--lightColour);
  box-shadow: 0px 6px 20px rgb(220, 211, 235);
  /* border-radius: 20px; */
  padding: 50px 30px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 40px;
  align-content: start; /* contents go in top of container */ 
  justify-content: stretch; /* stretch horizontally across whole container */
}

#add-project-container {
  display: grid;
  grid-template-columns: 1fr auto; /* icon to right, name takes remainder of room */
  align-items: center; /* children centred vertically */
}

#add-project-container {
  grid-row: 1;
}

.add-button-name, #select-proj-name {
  align-items: start;
  font-size: 24px;
  font-weight: 800;
}

.add-button-icon, .indiv-task-icon-img {
  width: 30px;
}

#select-proj-container {
  grid-row: 2;
  display: grid;
  row-gap: 10px;
  grid-template-rows: repeat(2, auto);
}

#select-proj-name {
  grid-row: 1;
}

#select-proj-selector {
  grid-row: 2;
}


#project-selector-container {
  display: grid;
  grid-template-columns: repeat (2, auto);

  background-color: var(--lightColour);
  box-shadow: 0px 6px 20px rgb(220, 211, 235);
  /* border-radius: 20px; */

  padding: 20px 0;
  justify-content: center;
  column-gap: 20px;
  font-size: 20px;
}

#project-selector-text {
  grid-column: 1;
  
}

#project-selector-select {
  grid-column: 2;
}


#project-display {
  grid-row: 2 / 4;
  background-color: var(--lightColour);
  box-shadow: 0px 6px 20px rgb(220, 211, 235);
  /* border-radius: 20px; */
  padding: 20px 30px;
  display: grid;
  grid-template-rows: auto auto auto 1fr;

}

#project-title {
  margin-bottom: 10px;
}

#project-description {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 30px;
  padding: 0 20px;
  height: min(auto, 3.5em);
}

#add-task-container {
  padding-bottom: 30px;
  display: grid;
  column-gap: 10px;
  justify-content: start;
  grid-template-columns: repeat(2, auto); /* icon to right, name takes remainder of room */
  align-items: center; /* children centred vertically */
}




#task-container {
  display: grid;
  row-gap: 20px;
  overflow: auto;
}

#indiv-task-complete { /* overrides indiv-task through specificity */
  text-decoration: line-through;
  background-color: lightgrey;
  background-color: var(--completeTask);
}
#indiv-task-not-complete { /* overrides indiv-task through specificity */
  text-decoration: none;
}



.indiv-task {
  
  background-color: var(--incompleteTask);
  font-size: 20px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 30px;
  border-left: 10px solid orange;

  border-radius: 10px;
}

.indiv-task-text-container {
  display: grid;
  row-gap: 10px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr auto;
}

.indiv-task-name {
  grid-row: 1;
  grid-column: 1 / 3;
  font-weight: 800;
  font-size: 24px;
}

.indiv-task-description {
  grid-row: 2;
  grid-column: 1 / 3;
  font-style: italic;
  height: 3.5em; /* 3 lines */
  place-items: start;
  padding: 0 20px;
}

.indiv-task-due-date {
  grid-row: 3;
  grid-column: 1;
}

.indiv-task-priority-low, .indiv-task-priority-mid, .indiv-task-priority-high {
  grid-row: 3;
  grid-column: 2;
}

.indiv-task-priority-low {
  color: var(--lowPrio);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(1, 31, 4);
  font-style: italic;
}
.indiv-task-priority-mid {
  color: var(--midPrio);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(81, 60, 8);
  font-style: italic;
}
.indiv-task-priority-high {
  color: var(--highPrio);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(27, 2, 2);
  font-style: italic;

}

.indiv-task-icon-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  align-content: end;
  align-items: center;
}

/* Project modal styles below */

/* Default for the modal until it is required */
.dialog-no-display {
  display: none
}

/* styling for modal, the displa: grid makes it visible, so important to closely control this */
.dialog-display {
  
  background-color: var(--midDarkColour);
  padding: 40px 30px;
  gap: 30px;
  border: 2px solid black;
  border-radius: 20px;
  color: var(--lightTextColour);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-left: auto;
  margin-top: 20vh;
  
}

dialog::backdrop {
background-color: rgb(10, 10, 11);
opacity: 0.85;
}

#add-project-form, #add-task-form {
  display: grid;
  grid-template-rows: auto auto;
  gap: 30px;
  place-items: center;
}

#project-form-inputs, #task-form-inputs {
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 20px;;
  justify-items: left;
}

#form-buttons {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* #add-book-form-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

} */

.form-button {
  place-self: center;
  background-color: var(--darkestColour);
  color: var(--lightTextColour);
  border: none;
  border-radius: 15px;
  padding: 5px 30px;
  font-size: 18px;
}


